# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.3

      - name: Cache Poetry virtualenv
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Set Poetry config
        run: |
          poetry config --local virtualenvs.in-project false
          poetry config --local virtualenvs.path ~/.virtualenvs

      - name: Install Dependencies
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Configure project
        run: cp config.py.example config.py

      - name: Code Quality
        run: poetry run black . --check

      - name: Check types statically
        run: poetry run mypy . --strict

      - name: Install mongodb
        run: sudo docker run --name mongo -d -p 27017:27017 mongo
      
      - name: Test with pytest
        run: poetry run pytest
        env:
          MONGO_URI: mongodb://localhost:27017
          FLASK_ENV: testing

      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: api-backend
          # Directory containing files to upload
          path: .

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v1.0.0
        with:
          # Artifact name
          name: api-backend
          
      - name: Log in to GitHub Packages
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ${{ github.repository }} --password-stdin

      - name: Build the Docker image
        if: success()
        run: docker build . --file Dockerfile --tag docker.pkg.github.com/ito-org/api-backend/api-backend:latest

      - name: Publish the Docker image on GitHub Packages
        if: success()
        run: docker push docker.pkg.github.com/ito-org/api-backend/api-backend:latest
    
